[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
testfixtures = "*"

[packages]
click = "*"
colored = "*"
flake8 = "*"
pytest-cov = "*"

[requires]
python_version = "3.7"
